/* **
 * 関数
 *
 * */
@mixin sp {
    @media screen and (max-width: 767px) {
        @content;
    }
}
@mixin pc { 
    @media screen and (min-width: 768px) {
        @content;
    }
}

/* **
 * 共通
 *
 * */
.main-title {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.575rem;
    line-height: 1.5;
    @include sp {
        font-size: 1.35rem;
    }
}

.column {
    @include sp {
        margin-bottom: 1.5rem;
        &__item {
            &:first-child {
                margin-bottom: 0.5rem;
            }
        }
    }
}

.side {
    @include sp {
        &__btn {
            text-align: center;
        }
    }
}

div {
    .img-hidden {
        height: 150px;
        overflow: hidden;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}

img {
    &.obj-fit {
        object-fit: cover;
        width: 100%;
    }
}

.pagination {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.font06 {
    font-size: 0.6rem;
}

@include sp {
    .br {
        display: block;
    }
}

/* **
 * 購入完了ページ
 *
 * */
.thanks-title {
    font-size: 1.125rem;
    text-align: center;
    color: #6c757d;
    font-weight: 700;
    margin: 1rem 0 3rem;
}

/* **
 * 注文履歴ページ
 *
 * */
.history {
    &__sort {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.5rem;
        &--select {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
            padding-right: 1rem;
            @include sp {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
            }
        }
        &--text {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
            padding-top: 0.25rem;
            @include sp {
                flex: 0 0 66.6666666667%;
                max-width: 66.6666666667%;
            }
        }
    }

    &__list {
        padding: 1rem 0.5rem 1rem;
        border: 1px solid #dee2e6;
        background-color: #fff;
        margin-bottom: 2rem;

        &__header {
            @include pc {
                display: flex;
                flex-wrap: wrap;
                padding: 1rem 1rem 0 1rem;
                margin-bottom: 0.5rem;
                background-color: #f8f9fa;
                &__list:nth-child(1),
                &__list:nth-child(2) {
                    flex: 0 0 16.6666666667%;
                    max-width: 16.6666666667%;
                }
                &__list:nth-child(3) {
                    flex: 0 0 41.6666666667%;
                    max-width: 41.6666666667%;
                }
                &__list:nth-child(4) {
                    flex: 0 0 25%;
                    max-width: 25%;
                }
            }

            @include sp {
                padding: 1rem;
                margin-bottom: 0.5rem;
                background-color: #f8f9fa;
            }
        }

        &__block {
            display: flex;
            flex-wrap: wrap;
            margin: 1rem 0.5rem;
            border-bottom: 1px dotted #828283;
            padding: 1rem 0 2rem;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}