img.cart{
    width: 30px;
}

img.incart{
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 140px;
    object-fit: cover;
}

.mycart_box{
    color: #4c4c4c ;
    font-weight: bold;
    text-align: center;
    margin-top: 24px;
    padding: 24px 8px;
    font-size: 1.1em;
    background-color: #fefefe ;
    width: 100%;

}

.buy-btn{
    margin: 40px auto 60px;
    width: 200px;
    display: block;
    background-color: #ff5c73 ;
}

.ball{
    position: absolute;
}

.pagenate{
    width: 200px;margin: 20px auto;
}

.navbar {
    background-color:#0092b3;
    color:#fefefe;
}

.font06 {
    font-size: 0.6rem;
}